body {
    font-family:'Futura', Arial, Helvetica, sans-serif;
    color:#512615;
}

button.btn {
    border-radius: 50%;
    background-color: pink;
    color:white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    color:white;
    background-color: pink;
    font-family:'Trattatello',fantasy;
    font-variant: small-caps;
}

h3 {
    font-size:large;
}

h4 {
    font-weight: 600;
    font-size:large;
}

p {
    font-weight: 100;
    font-size:medium;
}


